{% extends 'base.html' %} {% block header %}
<h1>Littlewood Polynomial Roots!</h1>
<p>The distribution of zeros of the family of Littlewood polynomials!</p>
{% endblock %} {% block form %}
<form id="frm" method="get" name="rootform" class="form-inline">
    <div class="form-group col-lg-12">
        <label for="degree" class="form-control-label">Degree</label>
        <input type="text" name="degree" id="degree" value="10" />
    </div>
    <div class="form-group col-lg-6">
        <label for="x0" class="form-control-label">Minimum x</label>
        <input type="text" name="x0" id="x0" value="-1.701" />
    </div>
    <div class="form-group col-lg-6">
        <label for="x1" class="form-control-label">Maximum x</label>
        <input type="text" name="x1" id="x1" value="1.701" />
    </div>
    <div class="form-group col-lg-6">
        <label for="y0" class="form-control-label">Minimum y</label>
        <input type="text" name="y0" id="y0" value="-1.701" />
    </div>
    <div class="form-group col-lg-6">
        <label for="y1" class="form-control-label">Maximum y</label>
        <input type="text" name="y1" id="y1" value="1.701" />
    </div>
    <div class="form-group col-lg-6">
        <button type="submit" id="submit" class="btn btn-primary has-spinner">
            <span class="glyphicon"></span> &nbsp;Submit
        </button>
    </div>
    <div class="form-group col-lg-6">
      <button type="button" class="btn btn-danger has-spinner" id="reset">
		<span class="glyphicon"></span>&nbsp;Reset
	  </button>
    </div>
</form>
{% endblock %} {% block canvas %}
<canvas id="canvas" style="border: 1px solid black;"></canvas>
{% endblock %} {% block javascript %}
<script src="{{url_for('static', filename='appsubset.js')}}"></script>
{% endblock %}
